.container {
  width: 100%;
  max-width: 1149px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin-top: 3rem;  
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper header {
  background: url('../../../public/image/contato.jpg') no-repeat center;
  background-size: cover;

  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 2px 5px 5px #303942;
}

.wrapper header h1 {
  color: #F04F02;
  padding-bottom: 10px;
  padding-top: 120px;
  padding-left: 1rem;
  text-shadow: 1px 1px 1px #EEE;

}

.wrapper main {
  margin-top: 3rem;  
  display: flex;
  justify-content: space-between;
}
.contatoLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}

.contatoLeft ul {
  list-style: none;
}

.contatoLeft ul li {
  display: flex;
  align-content: center;
  vertical-align: text-bottom;
  margin-top: 1.5rem;
  text-shadow: 1px 1px 1px #303942;
  transition: color 0.2ms;
}

.contatoLeft ul li:hover {
  cursor: pointer;
}

.contatoLeft ul li h1 {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  vertical-align: text-bottom;
}
.contatoLeft ul li h2 {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  font-family: Inter;
  vertical-align: text-bottom;

  margin-right: 4px;
}

.contatoLeft ul li svg {
  color: #FFF;
  font-size: 24px;
  margin-right: 8px;
}


.contatoRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contatoRight form {
  width: 350px;
  display: flex;
  flex-direction: column;

  background: #303942;
  margin: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-top: 35px;
  border-radius: 8px;
  border: solid 1px #BABABA;
  box-shadow: 2px 5px 5px #303942;

}

.contatoRight form input {
  background: none;
  border: none;
  border-bottom: 1px solid #687C8F;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;

  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  height: 40px;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.contatoRight form input:focus {
  border-bottom: 1px solid #F04F02;
}

.contatoRight form input::placeholder {
  color: #F04F02;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;
}

.contatoRight form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #687C8F;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;

  display: inline-block;
  box-sizing: border-box;
  resize: none;

  width: 100%;
  height: 80px;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.contatoRight form textarea:focus {
  border-bottom: 1px solid #F04F02;
}

.contatoRight form textarea::placeholder {
  color: #F04F02;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;
}

.contatoRight form button {
  background: #F04F02;
  border: none;
  color: #FFF;

  padding: 8px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;
  cursor: pointer;
  transition: background 0.2ms;
}

.contatoRight form button:hover {
  filter: brightness(0.9);
}

.contatoRight form button svg {
  margin-right: 8px;
}


/* ----- RESPONSIVO ----- */

@media (max-width: 900px) {
  .wrapper header {
    height: 150px;
  }  

  .wrapper header h1 {
    padding-top: 85px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .wrapper header {
    height: 100px;
  }  

  .wrapper header h1 {
    padding-top: 50px;
  }

  .wrapper main {
    flex-direction: column;
  }

  .contatoLeft {
    margin-bottom: 4rem;
    padding-left: 8px;
    align-self: flex-start;
  }

  .contatoRight form {
    margin: 0px;
  }
}