.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 100%;
    max-height: 550px;
  }
}

.content {
  width: 100%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 600;
    max-width: 400px;
    color: var(--white);
  }

  h4 {
    color: var(--white);
    font-weight: 200;
    font-size: 18px;
    margin-top: 1.5rem;
  }

  button {
    margin-top: 4rem;
    margin-left: 1rem;
    width: 220px;
    height: 48px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 15px #2B2D2F;
    background: var(--colors-orange);
    color: var(--white);
    font-weight: 500;
    font-size: 18px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border ease-in 0.2ms;

    svg {
      margin-left: 8px;
    }
  }

  button:hover {
    border: solid 2px var(--colors-white);
  }
}

.paragraph {
  color: var(--colors-white);
  width: 768px;
  padding-left: 2rem;
  position: absolute;
  bottom: 5rem;
}

.footer {
  position: absolute;
  bottom: 15px;
  left: 2.5rem;

  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

//RESPONSIVIDADE

@media (min-height: 1200px), (max-width: 992px){
  .wrapper {
    margin: auto;
    margin-top: 10%;
    padding: 0;
    flex-direction: column-reverse;
        
    img {
      max-height: 550px;
    }
  }

  .content {
    margin-top: 2rem;
    padding: 0;
    align-items: center;

    h2 {
      max-width: 100%;
    }
  }

  .paragraph {
    bottom: 8rem;
  }
}

@media (max-width: 830px) {
  .container {
    margin-top: 5%;
    flex: auto;
  } 

  .wrapper {
    img {
      max-width: 420px;
    }
  }

  .paragraph {
    width: 100%;
    margin: auto;
    padding: 4rem;

    text-align: justify;
    bottom: 6rem;
  }
}

@media (max-width: 770px) {
 .paragraph {
   display: none;
 }
}

@media (max-width: 600px) {
  .container {
    margin-top: 5px;
    flex: auto;
  } 

  .wrapper {
    img {
      max-width: 250px;
    }
  }

  .content {
    h2 {
      font-size: 26px;
      text-align: center;
    }

    h4 {
      font-size: 16px;
      text-align: center;
    }

    button {
      margin-top: 1.5rem;
      margin-left: 0;
    }
  }

  .footer {
    bottom: 3rem;
  }
}