.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin-top: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper > section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 35px;
  border-bottom: solid 1px #687C8F;
}

.wrapper section img {
  width: 50%;

}

.slideText {
  width: 50%;
  
}

.slideText h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFF;
  min-width: 300px;
}

.slideText p {
  font-size: 1rem;
  color: #E5E5E5;
  margin-top: 10px;
}

.wrapperGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 3rem;
  padding: 0 10px;
  margin-top: 2rem;
}

.gridItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 1px transparent;
  padding: 0.5rem;

  transition: box-shadow 0.2s;
}

.gridItem:hover {
  background: #3A454F;
  border: solid 1px #FFF;
  box-shadow: 2px 5px 8px rgba(255, 255, 255, 0.2); 

}

.gridItem a {
  text-align: right;
  color: #303942;
  margin-top: 10px;
  padding-top: 7px;
  border-top: solid 1px #687C8F;

  transition: color 0.2s;
}

.gridItem a:hover {
  color: #F04F02;
}

.gridText {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.gridText h1 {
  font-size: 22px;
  color: #FFF;

  display: flex;
}

.gridText h1 svg {
  margin-right: 8px;
}

.gridText p {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #E5E5E5;
}


/* RESPONSIVO */

@media (max-width: 900px) {
  .wrapperGrid {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .wrapper > section  {
    flex-direction: column;
  }

  .wrapper section img {
    width: 100%;
  }

  .slideText {
    width: 100%;
  }

  .slideText h1 {
    text-align: center;
  }

  .slideText p {
    text-align: center;
    margin-bottom: 2rem;
  }

  .wrapperGrid {
    grid-template-columns: 1fr;
  }
}