* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(159deg, #687C8F, #303942) no-repeat; 
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; 
}

a {
  text-decoration: none !important;
}

button {
  font-family: 'Inter', sans-serif;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;  
  transition: all 0.2s ease;
}

*::-webkit-scrollbar:hover {
  width: 10px;  
}

*::-webkit-scrollbar-track {
  background: linear-gradient(159deg, #687C8F, #303942);
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: #f04f03;
  border-radius: 20px;
  
}