* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  background: linear-gradient(159deg, #687C8F, #303942) no-repeat; 
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  
}

a {
  text-decoration: none !important;
}
